.super-mario {
    width: 200px;
    position: absolute;
    left: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 370px;
    left: 145px;
  }
  
  .baloon {
    position: absolute;
    top: 500px;
    left: 20px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 540px;
    z-index: 2;
    left: 40px;

  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 300px;
    top: 610px;
  }