body {
  background-color: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.section-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #555;
  border-radius: 10px;
  width: 200px;
  margin: 10px;
}

.section-container:hover {
  border: 1px solid white;
}